*,
*::before
*::after{box-sizing:border-box;}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #434455;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
img {display: block;}
ul {
    list-style-type: none;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.style-logo {
    color: #2e2f42;
}
.nav-page {display: flex;
margin-right: 332px;}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    }
    .nav-page .nav-link {display: block;
    }
    .nav-list
     {display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 40px;
        width: 261px;
        margin-left: 76px;
    }
.nav-link {
    text-decoration: none;
}
.nav-link {
    list-style-type: none;
}
.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}
.contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;
    text-decoration: none;}
.address-list { display:flex;
    }
.address-link {
    color: #434455
}
.address-link:hover,
.address-link:focus {
    color: #404bbf
}
.page-header .container 
{   display: flex;
    border-bottom: 1px solid #e7e9fc;
    width: 1440px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #fff;
}
/*Section1*/
.section-one {
    background-color: #2e2f42;
}
.section-one .container {display: block;
    justify-content: evenly;
    }
.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    background-color: #2e2f42;
    color: #fff;
}
.page-title {}
.button 
{border-radius: 4px;
    padding: 16px 32px;
    width: 169px;
    display: inline-block;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
margin-top: 48px;
margin-bottom: 226px;
margin-left: 626px;
margin-right: 645px;}
.button 
    {cursor: pointer;}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4D5AE5;
}
.button:hover {
    background-color: #404bbf;
}
/*Section2*/
.section-two-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    
}
.title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}
.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.advantages-list {display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 1128px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    margin: 0 auto;}
.adv-list-item {}
/*Section3*/
.section-three {
    background-color: #F4F4FD;
}
.section-three-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.images-list {display:flex;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 1128px;
    gap: 24px;
    margin: 0 auto
}
.img-list-item {display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    background-color: #FFFFFF;
}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/*Section4*/
.section-four-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}
.portfolio-list {display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 1128px;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    margin: 0 auto;
    flex-wrap: wrap;
    background-color: #FFFFFF;
}
.footer {
    background-color: #2e2f42;
}
.footer-logo {
    color: #f4f4fd;
}
.text-footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    display: block;
    justify-content:flex-start;
    margin-right: 1020px;}
    
.footer .container {display: block;
width: 264 px;
margin-top: 112px;
margin-bottom: 112px;
margin-left: 158px;}